body,
html {
  height: 100%;
}
.bg-info {
  opacity: 1;
  -webkit-box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5);
  background: cornflowerblue !important;
}

form {
  margin: 0 auto;
}

body {
  background-image: url(img/sun.jpg);
  height: 100%;
  width: auto;
  background-position: center;

  background-size: cover;
}

.alert-top {
  margin-top: 20px;
}

li {
  background: rgb(255, 250, 254) !important;
  /* -webkit-box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 10px 21px -5px rgba(0, 0, 0, 0.5); */
}

i,
li {
  font-size: 15px;
}

ul i {
  color: lightskyblue;
}

.fa-temperature-high,
.fa-temperature-low {
  font-size: 20px !important;
  font-style: bold;
}

.w-desc {
  text-transform: uppercase !important;
}

.text {
  text-align: center;
  text-align: right;
  color: azure !important;
}
